@font-face {
    font-family: "allura";
    src: url(../style/fonts/Allura-Regular.ttf);
  }

 @font-face {
    font-family: "poppins";
    src: url(../style/fonts/Poppins-Medium.ttf);
  }

  @font-face {
    font-family: "roboto";
    src: url(../style/fonts/Roboto-Light.ttf);
  }
  
  $font1: allura, sans-serif;
  $font2: poppins, serif;
  $font3: roboto, serif;
  $black1: rgb(33, 32, 30);
  $white1: rgb(243, 243, 243);
  $orange: rgb(166, 114, 69);
  $grey2: rgb(233, 233, 233);
  $grey3: rgb(105, 105, 105);  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;    
    
  }