@font-face {
  font-family: "allura";
  src: url(../style/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../style/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../style/fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: roboto, serif;
  background: rgb(33, 32, 30);
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  color: rgb(243, 243, 243);
  padding: 0 50px;
}
header nav {
  padding: 40px 0;
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10vh;
}
header nav h3 {
  font-family: allura, sans-serif;
  font-size: 3rem;
}
header nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header nav .link li {
  padding: 0 40px;
  text-transform: uppercase;
  font-family: roboto, serif;
  font-size: 0.9rem;
  font-weight: bold;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
}
header nav .link li:hover {
  color: rgb(166, 114, 69);
  background: rgb(243, 243, 243);
  border-radius: 10px;
}
header nav .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav .social li {
  padding: 0 10px;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
}
header nav .social li:hover {
  color: rgb(166, 114, 69);
  background: rgb(243, 243, 243);
  border-radius: 10px;
}
header .home {
  margin-top: 15%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .home span {
  font-family: allura, sans-serif;
  font-size: 4rem;
  color: rgb(166, 114, 69);
  margin: 0;
  line-height: 0;
}
header .home h1 {
  font-family: poppins, serif;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 1rem;
  margin: 0;
}
header .home img {
  margin: 40px 0;
  width: 2%;
  image-rendering: crisp-edges;
}
header .home p {
  font-family: roboto, serif;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}

.presentation {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px;
  overflow: hidden;
  background: rgb(238, 237, 237);
}
.presentation .discover {
  background: rgb(238, 237, 237);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
  padding: 10px;
  border: dashed 1px rgb(166, 114, 69);
  text-align: center;
}
.presentation .discover span {
  font-family: allura, sans-serif;
  color: rgb(166, 114, 69);
  font-size: 2rem;
  line-height: 0px;
}
.presentation .discover h2 {
  font-family: poppins, serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.presentation .discover p {
  font-family: roboto, serif;
  font-weight: lighter;
  margin: 30px 0;
}
.presentation .discover img {
  border-radius: 300px;
}
.presentation .discover h3 {
  font-family: poppins, serif;
  line-height: 0;
  margin: 30px 0;
}
.presentation .discover em {
  font-family: roboto, serif;
  text-transform: uppercase;
  font-style: normal;
  color: gray;
}
.presentation .discover-img {
  background: url(../img/store-01.jpg) center/cover;
}

.menu {
  position: relative;
}
.menu .head-menu {
  width: 50%;
  margin: 80px auto;
}
.menu .head-menu:after {
  content: "";
  position: absolute;
  background: url(../img/bg-menu-01.jpg) center/cover;
  width: 100%;
  height: 700px;
  bottom: -480px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.menu .head-menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.menu .head-menu-top span {
  color: rgb(166, 114, 69);
  font-family: allura, sans-serif;
  font-size: 3rem;
}
.menu .nav-menu ul {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .nav-menu ul li {
  padding: 10px 50px;
  font-family: roboto, serif;
  color: rgb(205, 204, 204);
  font-weight: 500;
  cursor: pointer;
  position: relative;
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.menu .nav-menu ul li:hover {
  color: rgb(166, 114, 69);
}
.menu .nav-menu ul li:hover:after {
  content: "";
  color: rgb(166, 114, 69);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background: rgb(205, 204, 204);
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
.menu .decription-menu {
  background: white;
  margin-top: 50px;
  border-top: 4px solid rgb(166, 114, 69);
  display: grid;
  grid-template-columns: 50% 50%;
}
.menu .description {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px dashed grey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .description .price {
  font-family: roboto, serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(166, 114, 69);
}

.other {
  width: 60%;
  margin: 200px auto;
}
.other .reservation {
  display: grid;
  grid-template-columns: 30% 70%;
  background: black;
  color: rgb(243, 243, 243);
}
.other .reservation .opening {
  padding: 20px;
  margin: 10px;
  border: dashed 1px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: black;
  color: rgb(243, 243, 243);
}
.other .reservation .opening span {
  color: rgb(166, 114, 69);
  font-family: allura, sans-serif;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
.other .reservation .opening h2 {
  text-transform: uppercase;
  margin: -10px 0 20px 0;
  font-size: 1.2rem;
  -webkit-animation: changeColor 3s infinite;
          animation: changeColor 3s infinite;
}
@-webkit-keyframes changeColor {
  0% {
    color: white;
  }
  30% {
    color: rgb(166, 114, 69);
  }
  70% {
    color: rgb(166, 114, 69);
  }
}
@keyframes changeColor {
  0% {
    color: white;
  }
  30% {
    color: rgb(166, 114, 69);
  }
  70% {
    color: rgb(166, 114, 69);
  }
}
.other .reservation .opening img {
  margin-bottom: 20px;
}
.other .reservation .opening h3 {
  color: rgb(166, 114, 69);
  text-transform: uppercase;
  font-family: poppins, serif;
  font-weight: 300;
  margin-bottom: 20px;
}
.other .reservation .opening p {
  font-family: poppins, serif;
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.other .reservation .reservation-right {
  background: rgb(243, 243, 243);
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.other .reservation .reservation-right span {
  color: rgb(166, 114, 69);
  font-family: allura, sans-serif;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
.other .reservation .reservation-right h2 {
  text-transform: uppercase;
  margin: -10px 0 20px 0;
  font-size: 1.2rem;
  font-family: poppins, serif;
}
.other .reservation .reservation-right .planning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.other .reservation .reservation-right .planning-left,
.other .reservation .reservation-right .planning-center,
.other .reservation .reservation-right .planning-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.other .reservation .reservation-right input,
.other .reservation .reservation-right select,
.other .reservation .reservation-right option {
  border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.204);
  padding: 10px 0;
  background: rgb(243, 243, 243);
}
.other .reservation .reservation-right button {
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 1000px;
  padding-bottom: -30px;
  margin-top: 20px;
  font-family: poppins, serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  background: black;
  color: rgb(243, 243, 243);
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.other .reservation .reservation-right button:hover {
  color: black;
  background: white;
}
.other .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.other .event .event-top {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.other .event .event-top span {
  color: rgb(166, 114, 69);
  font-family: allura, sans-serif;
  font-size: 3rem;
}
.other .event .event-top h2 {
  color: rgb(243, 243, 243);
  font-family: poppins, serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: -25px;
}
.other .event .event-back {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "1 3" "2 3";
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.other .event .card-event {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 20px;
}
.other .event .part-left-1 {
  background: url(../img/event-01.jpg) center/cover;
}
.other .event .date {
  padding: 10px;
  text-align: center;
  background: rgb(33, 32, 30);
  margin: 80px;
  color: white;
}
.other .event .part-left-2 {
  background: url(../img/event-02.jpg) center/cover;
}
.other .part-right {
  background: rgb(243, 243, 243);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
  padding: 20px;
}
.other .part-right h3 {
  font-family: roboto, serif;
  font-weight: 100;
}
.other .part-right p {
  color: gray;
  font-size: 0.8rem;
}
.other .part-right .buy {
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.other .event-back-right {
  background: url(../img/event-03.jpg) center/cover;
  margin-bottom: 20px;
}
.other .event-back-right .event-center {
  margin: 20px;
  background: rgb(243, 243, 243);
}
.other .event-back-right .event-center .date-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(33, 32, 30);
  margin: 0 140px;
  padding: 10px 10px;
  color: rgb(243, 243, 243);
  text-align: center;
}/*# sourceMappingURL=index.css.map */